@{
    ViewBag.Title = "About";
}

<div class="row">
    <div class="col-md-8">
        <br />
        <h4>Zain<strong> Ul Abideen</strong></h4>
        <a href="mailto:zainulabideen4744@gmail.com">zainulabideen4744@gmail.com</a>
        <br /><br />
        <h5>March 07, 2021</h5>
        <br />
        <h4>Joblogics</h4>
        <h5>Lahore, Punjab</h5>
        <br />
        <h5>
            RE:  Junior Developer
        </h5>
        <br />
        <h4>
            To Joblogic,
        </h4>

        <p>
            I am writing today to express my interest in your recently posted opening for a new Trainee Software Engineer. 
            My name is Zain-Ul-Abideen, a fresh graduate from PUCIT with a CGPA of 3.34. 
            I am looking to apply my skills and abilities to a challenging, growth-oriented position with a leading company like Joblogic
            while continuing to build my academic foundation.
        </p>
        <br />
        <p>
            My previous experiences (Web Engineering TA’ship and Supervised an FYP of seniors in JAVA) have allowed me to develop abilities 
            in software development. 
            I am eager for the opportunity to learn from and support your team by applying my critical thinking, teamwork, and collaboration skills.
        </p><br />
        <p>
                My focus, as an aspiring professional, is to utilize my strengths in hybrid web development to make a positive impact on the organization as a whole. 
                I enjoy gathering, organizing, and analyzing information, working in groups, and contributing to project strategies. 
                Besides this, I'm a hard-working guy and passionate about work. "Adaptability" is also one of my characteristics -- the best thing required for team-work.
                I believe these skills will be beneficial in the Software Engineer role while further enhancing the excellent reputation of Joblogic.
        </p><br />
            <p>
                Please review my attached resume for additional details. 
                I look forward to hearing from you to discuss the possibility of joining your team.
            </p>
        <br />
        <h4>Sincerely,</h4>
        <h5>Zain Ul Abideen</h5>
        <h5> +92 307 4744124</h5>


    </div>

</div>
